@charset "UTF-8";

body, h1, h2, h3, p, ul, figure {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #bbb;
}

img {
  max-width: 100%;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightblue;
}

.logo {
  width: 50px;
  margin-right: 10px;
}

.header-inn {
  display: flex;
}

hgroup {
  flex: 1 1 auto;
}

header h1 {
  font-size: 1.2rem;
  border-bottom: #fff 1px solid;
}

header h2 {
  font-size: 1rem;
}

.wrapper {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

#container {
  padding-top: 20px;
  padding-bottom: 50px;
}

footer {
  background-color: lightblue;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 3px #bbb;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 768px;
    margin: 0 auto;;
  }


}

